1 ICON "app.ico"
1 24 "app.manifest"
101 RCDATA "NullWire.exe"
102 RCDATA "Uninstall.exe"
103 RCDATA "VBCABLE_Setup_x64.exe"
104 RCDATA "vbaudio_cable64_win7.sys"
105 RCDATA "vbaudio_cable64_win7.cat"
106 RCDATA "vbMmeCable64_win7.inf"
